* {
            font-family: "Fredoka", system-ui;
            font-optical-sizing: auto;
            font-weight: 400;
            font-style: normal;
            font-variation-settings:
                "wdth" 100;
        }

        body {
            background-color: #404E5C;
        }

        input {
            margin: 0.2rem;
            padding: 0.5rem;
            background-color: #B7C3F3;
            border: 0.2rem solid white;
            border-radius: 0.3rem;
            color: white;
            font-size: large;
        }

        input:hover {
            background-color: #5e688e;
            transition: 0.15s;
            box-shadow: 0.1rem 0.1rem rgb(213, 163, 163);
        }

        button {
            background-color: #B7C3F3;
            border: 0.2rem solid white;
            border-radius: 0.3rem;
            color: white;
            transition: 0.15s;
            margin: 0.2rem;
            padding: 0.5rem;
            font-size: large;
        }

        button:hover {
            background-color: #5e688e;
            transition: 0.15s;
            box-shadow: 0.1rem 0.1rem rgb(213, 163, 163);
        }

        button:active {
            margin: 0.4rem;
            padding: 0.3rem;
        }

        p {
            margin: 0.2rem;
        }

        .result {
            color: aquamarine;
            font-size: larger;
        }

        #n-sResult {
            font-size: large;
        }
